.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color:#006400;
    padding: 2em;
  }
  
  .social_list li {
    margin: 0 1em;
  }
  
  .social_list svg {
    font-size: 1.5em;
    cursor: pointer;
    color: #dd5a5a;
  }